{% extends 'base.html' %}
{% load static %}
{% load show_product_list %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/user_page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div id="user-icon">
        <img src="{% if others_user.icon_url %}{{ others_user.icon_url }}{% else %}{% static 'img/placeholder.png' %}{% endif %}" class="img-fluid"> 
      </div>
    </div>
  </div>
  <h1 id="user-name">{{ others_user.username }}</h1>
  <h2>プロフィール</h2>
  <p>{{ others_user.intro }}</p>
  <h2>{{ others_user.username }}の出品商品一覧</h2>
  {% if others_user_product_list %}
    {% show_product_list others_user_product_list %}
  {% else %}
    <p>このユーザはまだ商品を出品していません。</p>
  {% endif %}
</div>
{% endblock %}
