#user-icon {
  text-align: center;
}

#user-icon img {
  height: 400px;
}

#user-name {
  text-align: center;
}

i.good {
  color: #dc3545;
  font-size: 32px;
}

i.normal {
  color: #ffc107;
  font-size: 32px;
}

i.bad {
  color: #007bff;
  font-size: 32px;
}

.rating-count {
  margin-top: 10px;
}
