{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<script>
    let PLACEHOLDER_IMAGE = "{% static 'img/placeholder.png' %}";
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/image_form_utils.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/lock_img_aspect.css' %}">
<link rel="stylesheet" href="{% static 'css/submit_button.css' %}">


<div class="container">
    {% block subject %}
    {% endblock %}
    <div class="form-group">
        <label for="upload-image_files">商品画像</label>
        <div class="row">
          {% if product_image_thumbnail_urls %}
            {% include "product/_image_list_update.html" %}
          {% else %}
            {% include "product/_image_list_create.html" %}
          {% endif %}
        </div>
    </div>

    <div class="form-group">
    <label for="exampleSelect1">カテゴリー</label>
    <select name="category" class="form-control" id="category" onchange="getcategory();" required="">
      <option value="">---</option>
      <option value="ladies">レディース</option>
      <option value="mens">メンズ</option>
      <option value="stationery">文房具・事務用品</option>
      <option value="babykids">ベビー・キッズ</option>
      <option value="interior">インテリア・住まい・小物</option>
      <option value="entame">エンタメ・ホビー</option>
      <option value="cosme">コスメ・香水・美容</option>
      <option value="kaden">家電・スマホ・カメラ</option>
      <option value="handmade">ハンドメイド</option>
      <option value="food">食料品</option>
      <option value="ticket">チケット</option>
      <option value="sports">スポーツ・レジャー</option>
      <option value="bike">自転車・オートバイ</option>
      <option value="digitalitem">デジタル商品</option>
      <option value="others">その他</option>
    </select>
  </div>








    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {% bootstrap_form product_form layout='virtical' %}
        {% for product_image_form in product_image_forms %}
          {% bootstrap_form product_image_form layout='virtical' %}
        {% endfor %}
      {% for _ in '0123'|make_list %}
        <input type="hidden" name="image_{{forloop.counter0}}_exists" value=0>
      {% endfor %}
        <div class="form-group column">  
            <button id="submit" type="submit" class="btn submit_button">save</button>
        </div>
    </form>
</div>
{% endblock %}
