<script async>
    $(document).ready(function() {
        function changeWatchListButtonTextWhenInIt(){
            $('#toggle-watchlist-button').text("ウォッチリストから外す");
        }
        function changeWatchListButtonTextWhenNotInIt(){
            $('#toggle-watchlist-button').text("ウォッチリストに追加");
        }
        function addWatchlist(){
            let apiURL = "{% url 'watchlist:add_watch_list' %}";
            $.ajax({
                'type': 'POST',
                'url': apiURL,
                'data': {'product_pk': {{ product.pk }} },
                'cache': false,
            }).done(function(result){
                alert("ウォッチリストに追加されました。")
                changeWatchListButtonTextWhenInIt();
                changeBehaviorToggleButton(true);
            }).fail(function(result){
                alert("APIエラーです。もう一度試してみてください")
                changeWatchListButtonTextWhenNotInIt();
                changeBehaviorToggleButton(false);
            });
        }

        function removeFromWatchlist(){
            let apiURL = "{% url 'watchlist:remove_from_watch_list' %}";
            $.ajax({
                'type': 'POST',
                'url': apiURL,
                'data': {'product_pk': {{ product.pk }} },
                'cache': false,
            }).done(function(result){
                alert("ウォッチリストから削除されました。")
                changeWatchListButtonTextWhenNotInIt();
                changeBehaviorToggleButton(false);
            }).fail(function(result){
                alert("APIエラーです。もう一度試してみてください")
                changeWatchListButtonTextWhenNotInIt();
                changeBehaviorToggleButton(false);
            });
        }

        function changeBehaviorToggleButton(isInWatchlist){
            $('#toggle-watchlist-button').click(function() {  // ボタンクリックでAJAX
                if(isInWatchlist){
                    removeFromWatchlist()
                }else{
                    addWatchlist()
                }
            });
        }

        let productIsInWatchlistApiURL = "{% url 'watchlist:is_in_watch_list' %}";
        $.ajax({
            'type': 'GET',
            'url': productIsInWatchlistApiURL + '?product_pk={{ product.pk }}',
            'cache': false,
        }).done(function(result){
            if(result.is_in_watch_list === 'true'){
                changeWatchListButtonTextWhenInIt();
                changeBehaviorToggleButton(true);
            }else{
                changeWatchListButtonTextWhenNotInIt();
                changeBehaviorToggleButton(false);
            }
        }).fail(function(){
            alert("APIエラー");
            changeWatchListButtonTextWhenNotInIt();
            changeBehaviorToggleButton(false);
        });
    })();
</script>
