{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <h2 style="text-align:center">お問い合わせ</h2>
    <p>こちらにお問い合わせ内容をご入力ください</p>
    <div class="row">
      <div class="col-8 offset-2">
        <form method="POST" action="{% url 'contact:post_contact' %}" id="user_talk_form">{% csrf_token %}
          {% bootstrap_form form layout='virtical' %}
          <div class="form-group column" id="save-button">
            <button type="submit" class="save btn btn-default">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}