<meta property="og:title" content="北大フリマ 北大生のためのフリマサイト" />
<meta property="og:site_name" content="北大フリマ 北大生のためのフリマサイト" />
<meta property="og:description" content="北大生が開発！北大生による北大生のためのフリマサイト「北大フリマ」です。直接会って渡すから、手数料０。北大生同士の運命の出会いもあるかも・・・？" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://django.tetsufe.tokyo/" />
<meta property="og:image" content="https://hokudaifurimaproductimage.s3.amazonaws.com/static/img/hu_furima_logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary">
