{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta_tags %}{% endblock %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown-menu.css' %}">
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <header>
      <div id="logo">
          <a href="{% url "home" %}">
        <img src="{% static "img/hu_furima_logo.png" %}"  alt="ロゴ">
          </a>
      </div>
      <nav id="navbar">
        <ul>
          <li>
            <a href="{% url "search:search_product" %}">商品検索</a>
          </li>
          <li>
            <a href="{% url "product:create_product" %}">出品</a>
          </li>
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url "account:mypage" %}">マイページ</a>
            </li>
            <li>
              <a href="{% url "account:logout" %}">ログアウト</a>
            </li>
          {% else %}
            <li>
              <a href="{% url "account:login" %}">ログイン</a>
            </li>
            <li>
              <a href="{% url "account:signup" %}">新規登録</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <div class="clearfix pc-header-nav">
        <nav style="float:left;">
          <ul style="list-style:none;padding:0;margin:0;">
            <li class="dropdownpc dropdown">
              <a id="pc-category" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: #333;text-decoration:none;">カテゴリー <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" style="margin:0;">
                <li class="dropdown-submenu">
                  <a href="/items?c=ladies" class="dropdown-item">レディース</a>
                  <ul class="dropdown-menu">                 
                    <li><a href="/items?c=ladies&amp;cc=トップス"class="dropdown-item">トップス</a></li>
                    <li><a href="/items?c=ladies&amp;cc=ジャケット/アウター"class="dropdown-item">ジャケット/アウター</a></li>
                    <li><a href="/items?c=ladies&amp;cc=パンツ"class="dropdown-item">パンツ</a></li>
                    <li><a href="/items?c=ladies&amp;cc=スカート"class="dropdown-item">スカート</a></li>
                    <li><a href="/items?c=ladies&amp;cc=ワンピース"class="dropdown-item">ワンピース</a></li>
                    <li><a href="/items?c=ladies&amp;cc=靴"class="dropdown-item">靴</a></li>
                    <li><a href="/items?c=ladies&amp;cc=ルームウェア/パジャマ"class="dropdown-item">ルームウェア/パジャマ</a></li>
                    <li><a href="/items?c=ladies&amp;cc=レッグウェア"class="dropdown-item">レッグウェア</a></li>
                    <li><a href="/items?c=ladies&amp;cc=帽子"class="dropdown-item">帽子</a></li>
                    <li><a href="/items?c=ladies&amp;cc=バッグ"class="dropdown-item">バッグ</a></li>
                    <li><a href="/items?c=ladies&amp;cc=アクセサリー"class="dropdown-item">アクセサリー</a></li>
                    <li><a href="/items?c=ladies&amp;cc=ヘアアクセサリー"class="dropdown-item">ヘアアクセサリー</a></li>
                    <li><a href="/items?c=ladies&amp;cc=小物"class="dropdown-item">小物</a></li>
                    <li><a href="/items?c=ladies&amp;cc=時計"class="dropdown-item">時計</a></li>
                    <li><a href="/items?c=ladies&amp;cc=ウィッグ/エクステ"class="dropdown-item">ウィッグ/エクステ</a></li>
                    <li><a href="/items?c=ladies&amp;cc=浴衣/水着"class="dropdown-item">浴衣/水着</a></li>
                    <li><a href="/items?c=ladies&amp;cc=スーツ/フォーマル/ドレス"class="dropdown-item">スーツ/フォーマル/ドレス</a></li>
                    <li><a href="/items?c=ladies&amp;cc=マタニティ"class="dropdown-item">マタニティ</a></li>
                    <li><a href="/items?c=ladies&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=mens"class="dropdown-item">メンズ</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=mens&amp;cc=トップス"class="dropdown-item">トップス</a></li>
                    <li><a href="/items?c=mens&amp;cc=ジャケット/アウター"class="dropdown-item">ジャケット/アウター</a></li>
                    <li><a href="/items?c=mens&amp;cc=パンツ"class="dropdown-item">パンツ</a></li>
                    <li><a href="/items?c=mens&amp;cc=靴"class="dropdown-item">靴</a></li>
                    <li><a href="/items?c=mens&amp;cc=バッグ"class="dropdown-item">バッグ</a></li>
                    <li><a href="/items?c=mens&amp;cc=スーツ"class="dropdown-item">スーツ</a></li>
                    <li><a href="/items?c=mens&amp;cc=帽子"class="dropdown-item">帽子</a></li>
                    <li><a href="/items?c=mens&amp;cc=アクセサリー"class="dropdown-item">アクセサリー</a></li>
                    <li><a href="/items?c=mens&amp;cc=小物"class="dropdown-item">小物</a></li>
                    <li><a href="/items?c=mens&amp;cc=時計"class="dropdown-item">時計</a></li>
                    <li><a href="/items?c=mens&amp;cc=水着"class="dropdown-item">水着</a></li>
                    <li><a href="/items?c=mens&amp;cc=レッグウェア"class="dropdown-item">レッグウェア</a></li>
                    <li><a href="/items?c=mens&amp;cc=アンダーウェア"class="dropdown-item">アンダーウェア</a></li>
                    <li><a href="/items?c=mens&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=stationery"class="dropdown-item">文房具・事務用品</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=stationery&amp;cc=筆記具"class="dropdown-item">筆記具</a></li>
                    <li><a href="/items?c=stationery&amp;cc=ノート/メモ帳"class="dropdown-item">ノート/メモ帳</a></li>
                    <li><a href="/items?c=stationery&amp;cc=テープ/マスキングテープ"class="dropdown-item">テープ/マスキングテープ</a></li>
                    <li><a href="/items?c=stationery&amp;cc=カレンダー/スケジュール"class="dropdown-item">カレンダー/スケジュール</a></li>
                    <li><a href="/items?c=stationery&amp;cc=アルバム/スクラップ"class="dropdown-item">アルバム/スクラップ</a></li>
                    <li><a href="/items?c=stationery&amp;cc=ファイル/バインダー"class="dropdown-item">ファイル/バインダー</a></li>
                    <li><a href="/items?c=stationery&amp;cc=ハサミ/カッター"class="dropdown-item">ハサミ/カッター</a></li>
                    <li><a href="/items?c=stationery&amp;cc=カードホルダー/名刺管理"class="dropdown-item">カードホルダー/名刺管理</a></li>
                    <li><a href="/items?c=stationery&amp;cc=のり/ホッチキス"class="dropdown-item">のり/ホッチキス</a></li>
                    <li><a href="/items?c=stationery&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                  </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=interior"class="dropdown-item">インテリア・住まい・小物</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=interior&amp;cc=キッチン/食器"class="dropdown-item">キッチン/食器</a></li>
                    <li><a href="/items?c=interior&amp;cc=ベッド/マットレス"class="dropdown-item">ベッド/マットレス</a></li>
                    <li><a href="/items?c=interior&amp;cc=ソファ/ソファベッド"class="dropdown-item">ソファ/ソファベッド</a></li>
                    <li><a href="/items?c=interior&amp;cc=椅子/チェア"class="dropdown-item">椅子/チェア</a></li>
                    <li><a href="/items?c=interior&amp;cc=机/テーブル"class="dropdown-item">机/テーブル</a></li>
                    <li><a href="/items?c=interior&amp;cc=収納家具"class="dropdown-item">収納家具</a></li>
                    <li><a href="/items?c=interior&amp;cc=ラグ/カーペット/マット"class="dropdown-item">ラグ/カーペット/マット</a></li>
                    <li><a href="/items?c=interior&amp;cc=カーテン/ブラインド"class="dropdown-item">カーテン/ブラインド</a></li>
                    <li><a href="/items?c=interior&amp;cc=ライト/照明"class="dropdown-item">ライト/照明</a></li>
                    <li><a href="/items?c=interior&amp;cc=寝具"class="dropdown-item">寝具</a></li>
                    <li><a href="/items?c=interior&amp;cc=インテリア小物"class="dropdown-item">インテリア小物</a></li>
                    <li><a href="/items?c=interior&amp;cc=季節/年中行事"class="dropdown-item">季節/年中行事</a></li>
                    <li><a href="/items?c=interior&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                  </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=entame"class="dropdown-item">エンタメ・ホビー</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=entame&amp;cc=漫画"class="dropdown-item">漫画</a></li>
                    <li><a href="/items?c=entame&amp;cc=本"class="dropdown-item">本</a></li>
                    <li><a href="/items?c=entame&amp;cc=雑誌"class="dropdown-item">雑誌</a></li>
                    <li><a href="/items?c=entame&amp;cc=DVD/ブルーレイ"class="dropdown-item">DVD/ブルーレイ</a></li>
                    <li><a href="/items?c=entame&amp;cc=CD"class="dropdown-item">CD</a></li>
                    <li><a href="/items?c=entame&amp;cc=レコード"class="dropdown-item">レコード</a></li>
                    <li><a href="/items?c=entame&amp;cc=ミリタリー"class="dropdown-item">ミリタリー</a></li>
                    <li><a href="/items?c=entame&amp;cc=テレビゲーム"class="dropdown-item">テレビゲーム</a></li>
                    <li><a href="/items?c=entame&amp;cc=タレントグッズ"class="dropdown-item">タレントグッズ</a></li>
                    <li><a href="/items?c=entame&amp;cc=楽器/器材"class="dropdown-item">楽器/器材</a></li>
                    <li><a href="/items?c=entame&amp;cc=フィギュア"class="dropdown-item">フィギュア</a></li>
                    <li><a href="/items?c=entame&amp;cc=トレーディングカード"class="dropdown-item">トレーディングカード</a></li>
                    <li><a href="/items?c=entame&amp;cc=おもちゃ/ぬいぐるみ"class="dropdown-item">おもちゃ/ぬいぐるみ</a></li>
                    <li><a href="/items?c=entame&amp;cc=美術品"class="dropdown-item">美術品</a></li>
                    <li><a href="/items?c=entame&amp;cc=アート用品"class="dropdown-item">アート用品</a></li>
                    <li><a href="/items?c=entame&amp;cc=コレクション"class="dropdown-item">コレクション</a></li>
                    <li><a href="/items?c=entame&amp;cc=コミック/アニメグッズ"class="dropdown-item">コミック/アニメグッズ</a></li>
                    <li><a href="/items?c=entame&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=cosme"class="dropdown-item">コスメ・香水・美容</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=cosme&amp;cc=ベースメーク/化粧品"class="dropdown-item">ベースメーク/化粧品</a></li>
                    <li><a href="/items?c=cosme&amp;cc=スキンケア/基礎化粧品"class="dropdown-item">スキンケア/基礎化粧品</a></li>
                    <li><a href="/items?c=cosme&amp;cc=香水"class="dropdown-item">香水</a></li>
                    <li><a href="/items?c=cosme&amp;cc=ネイルケア"class="dropdown-item">ネイルケア</a></li>
                    <li><a href="/items?c=cosme&amp;cc=ヘアケア"class="dropdown-item">ヘアケア</a></li>
                    <li><a href="/items?c=cosme&amp;cc=ボディケア"class="dropdown-item">ボディケア</a></li>
                    <li><a href="/items?c=cosme&amp;cc=オーラルケア"class="dropdown-item">オーラルケア</a></li>
                    <li><a href="/items?c=cosme&amp;cc=リラクゼーション"class="dropdown-item">リラクゼーション</a></li>
                    <li><a href="/items?c=cosme&amp;cc=ダイエット"class="dropdown-item">ダイエット</a></li>
                    <li><a href="/items?c=cosme&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=kaden"class="dropdown-item">家電・スマホ・カメラ</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=kaden&amp;cc=スマートフォン/携帯電話"class="dropdown-item">スマートフォン/携帯電話</a></li>
                    <li><a href="/items?c=kaden&amp;cc=スマホアクセサリー"class="dropdown-item">スマホアクセサリー</a></li>
                    <li><a href="/items?c=kaden&amp;cc=PC/タブレット"class="dropdown-item">PC/タブレット</a></li>
                    <li><a href="/items?c=kaden&amp;cc=カメラ"class="dropdown-item">カメラ</a></li>
                    <li><a href="/items?c=kaden&amp;cc=テレビ/映像機器"class="dropdown-item">テレビ/映像機器</a></li>
                    <li><a href="/items?c=kaden&amp;cc=オーディオ機器"class="dropdown-item">オーディオ機器</a></li>
                    <li><a href="/items?c=kaden&amp;cc=美容/健康"class="dropdown-item">美容/健康</a></li>
                    <li><a href="/items?c=kaden&amp;cc=冷暖房/空調"class="dropdown-item">冷暖房/空調</a></li>
                    <li><a href="/items?c=kaden&amp;cc=生活家電"class="dropdown-item">生活家電</a></li>
                    <li><a href="/items?c=kaden&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=handmade"class="dropdown-item">ハンドメイド</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=handmade&amp;cc=アクセサリー(女性用)"class="dropdown-item">アクセサリー(女性用)</a></li>
                    <li><a href="/items?c=handmade&amp;cc=ファッション/小物"class="dropdown-item">ファッション/小物</a></li>
                    <li><a href="/items?c=handmade&amp;cc=アクセサリー/時計"class="dropdown-item">アクセサリー/時計</a></li>
                    <li><a href="/items?c=handmade&amp;cc=日用品/インテリア"class="dropdown-item">日用品/インテリア</a></li>
                    <li><a href="/items?c=handmade&amp;cc=趣味/おもちゃ"class="dropdown-item">趣味/おもちゃ</a></li>
                    <li><a href="/items?c=handmade&amp;cc=キッズ/ベビー"class="dropdown-item">キッズ/ベビー</a></li>
                    <li><a href="/items?c=handmade&amp;cc=素材/材料"class="dropdown-item">素材/材料</a></li>
                    <li><a href="/items?c=handmade&amp;cc=二次創作物"class="dropdown-item">二次創作物</a></li>
                    <li><a href="/items?c=handmade&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=food"class="dropdown-item">食料品</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=food&amp;cc=お米"class="dropdown-item">お米</a></li>
                    <li><a href="/items?c=food&amp;cc=野菜類"class="dropdown-item">野菜類</a></li>
                    <li><a href="/items?c=food&amp;cc=麺・パン・シリアル"class="dropdown-item">麺・パン・シリアル</a></li>
                    <li><a href="/items?c=food&amp;cc=調味料・スパイス"class="dropdown-item">調味料・スパイス</a></li>
                    <li><a href="/items?c=food&amp;cc=スイーツ・お菓子"class="dropdown-item">スイーツ・お菓子</a></li>
                    <li><a href="/items?c=food&amp;cc=その他食品"class="dropdown-item">その他食品</a></li>
                    <li><a href="/items?c=food&amp;cc=水・ソフトドリンク"class="dropdown-item">水・ソフトドリンク</a></li>
                    <li><a href="/items?c=food&amp;cc=コーヒー・お茶"class="dropdown-item">コーヒー・お茶</a></li>
                    <li><a href="/items?c=food&amp;cc=その他飲料"class="dropdown-item">その他飲料</a></li>
                    <li><a href="/items?c=food&amp;cc=ビール・発泡酒"class="dropdown-item">ビール・発泡酒</a></li>
                    <li><a href="/items?c=food&amp;cc=ワイン"class="dropdown-item">ワイン</a></li>
                    <li><a href="/items?c=food&amp;cc=日本酒"class="dropdown-item">日本酒</a></li>
                    <li><a href="/items?c=food&amp;cc=焼酎"class="dropdown-item">焼酎</a></li>
                    <li><a href="/items?c=food&amp;cc=梅酒"class="dropdown-item">梅酒</a></li>
                    <li><a href="/items?c=food&amp;cc=チューハイ・カクテル"class="dropdown-item">チューハイ・カクテル</a></li>
                    <li><a href="/items?c=food&amp;cc=その他酒類"class="dropdown-item">その他酒類</a></li>
                    <li><a href="/items?c=food&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=ticket"class="dropdown-item">チケット</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=ticket&amp;cc=音楽"class="dropdown-item">音楽</a></li>
                    <li><a href="/items?c=ticket&amp;cc=スポーツ"class="dropdown-item">スポーツ</a></li>
                    <li><a href="/items?c=ticket&amp;cc=演劇/芸能"class="dropdown-item">演劇/芸能</a></li>
                    <li><a href="/items?c=ticket&amp;cc=イベント"class="dropdown-item">イベント</a></li>
                    <li><a href="/items?c=ticket&amp;cc=映画"class="dropdown-item">映画</a></li>
                    <li><a href="/items?c=ticket&amp;cc=施設利用券"class="dropdown-item">施設利用券</a></li>
                    <li><a href="/items?c=ticket&amp;cc=優待券/割引券"class="dropdown-item">優待券/割引券</a></li>
                    <li><a href="/items?c=ticket&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=sports"class="dropdown-item">スポーツ・レジャー</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=sports&amp;cc=自転車"class="dropdown-item">自転車</a></li>
                    <li><a href="/items?c=sports&amp;cc=ゴルフ"class="dropdown-item">ゴルフ</a></li>
                    <li><a href="/items?c=sports&amp;cc=アウトドア"class="dropdown-item">アウトドア</a></li>
                    <li><a href="/items?c=sports&amp;cc=フィッシング"class="dropdown-item">フィッシング</a></li>
                    <li><a href="/items?c=sports&amp;cc=スノーボード"class="dropdown-item">スノーボード</a></li>
                    <li><a href="/items?c=sports&amp;cc=スキー"class="dropdown-item">スキー</a></li>
                    <li><a href="/items?c=sports&amp;cc=トレーニング/エクササイズ"class="dropdown-item">トレーニング/エクササイズ</a></li>
                    <li><a href="/items?c=sports&amp;cc=その他スポーツ"class="dropdown-item">その他スポーツ</a></li>
                    <li><a href="/items?c=sports&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=bike"class="dropdown-item">自転車・オートバイ</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=bike&amp;cc=自動車"class="dropdown-item">自動車</a></li>
                    <li><a href="/items?c=bike&amp;cc=オートバイ"class="dropdown-item">オートバイ</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=digitalitem"class="dropdown-item">デジタル商品</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=digitalitem&amp;cc=テキスト"class="dropdown-item">テキスト</a></li>
                    <li><a href="/items?c=digitalitem&amp;cc=画像"class="dropdown-item">画像</a></li>
                    <li><a href="/items?c=digitalitem&amp;cc=音声"class="dropdown-item">音声</a></li>
                    <li><a href="/items?c=digitalitem&amp;cc=動画"class="dropdown-item">動画</a></li>
                    <li><a href="/items?c=digitalitem&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/items?c=others"class="dropdown-item">その他</a>
                  <ul class="dropdown-menu">
                    <li><a href="/items?c=others&amp;cc=生活雑貨/旅行"class="dropdown-item">日用品/生活雑貨/旅行</a></li>
                    <li><a href="/items?c=others&amp;cc=ペット用品"class="dropdown-item">ペット用品</a></li>
                    <li><a href="/items?c=others&amp;cc=事務/店舗用品"class="dropdown-item">事務/店舗用品</a></li>
                    <li><a href="/items?c=others&amp;cc=アンティーク/コレクション"class="dropdown-item">アンティーク/コレクション</a></li>
                    <li><a href="/items?c=others&amp;cc=まとめ売り"class="dropdown-item">まとめ売り</a></li>
                    <li><a href="/items?c=others&amp;cc=その他"class="dropdown-item">その他</a></li>
                  </ul>
                </li>

              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {% if messages %}
        <div class="container">
          <ul class="messages" style="padding-left: 0px;">
            {% for message in messages %}
            <li style="list-style-type: none;"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
