{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta_tags %}{% endblock %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <header>
      {% include "header.html" %}
    </header>
    <main>
      {% if messages %}
        <div class="container">
          <ul class="messages" style="padding-left: 0px;">
            {% for message in messages %}
            <li style="list-style-type: none;"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
