{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <header>
      <div id="logo">
          <a href="{% url "home" %}">
        <img src="{% static "img/hu_furima_logo.png" %}"  alt="ロゴ">
          </a>
      </div>
      <nav id="navbar">
        <ul>
          <li>
            <a href="{% url "search:search_product" %}">商品検索</a>
          </li>
          <li>
            <a href="{% url "product:create_product" %}">出品</a>
          </li>
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url "account:details" %}">マイページ</a>
            </li>
            <li>
              <a href="{% url "account:logout" %}">ログアウト</a>
            </li>
          {% else %}
            <li>
              <a href="{% url "account:login" %}">ログイン</a>
            </li>
            <li>
              <a href="{% url "account:signup" %}">新規登録</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
