{% load static %}
<div class="pc-header">
  <div class="container">
      <div id="logo">
          <a href="{% url "home" %}">
        <img src="{% static "img/hu_furima_logo.png" %}"  alt="ロゴ">
          </a>
      </div>
      <div style="margin-left: 200px;">
        <form method="GET" action="{% url 'search:search_product' %}" class="search-form ml-auto">{% csrf_token %}
            <input type='hidden' name="price_range" value='0_1000000' />
            <input type='hidden' name="is_sold" value='all' />
            <input type='hidden' name="sort_method" value='sort_new' />
            <input type="text" id="header_query" name="q" class="form-control search" placeholder="キーワードから検索" value="">
            <button class="btn btn-default search-button" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div id="header_suggest_area">
        </div>
      </div>
    <nav id="navbar">
      <div class="nav-right">
        <ul>
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url "notification:index" %}">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span>お知らせ</span>
                <span class="notification-badge badge badge-info"></span>
              </a>
            </li>
            <li>
              <a href="{% url "todo_list:show_todo_list" %}">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>TODO</span>
                <span class="todo-badge badge badge-info"></span>
              </a>
            </li>
            <li>
              <a href="{% url "account:mypage" %}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>マイページ</span>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url "account:login" %}">ログイン</a>
            </li>
            <li>
              <a href="{% url "account:signup" %}">新規登録</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</div>
