{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/sold_timeline.css' %}">
{% endblock %}
<div id="solo-timeline">
  <h2>最近購入された商品</h2>
  <hr>
  <div id="wrap-sold-timeline">
    <div class="row">
    <div class="col-lg-6">
      <ul class="list-group">
        {% for sold_product in latest_sold_products %}
          <li class="list-group-item">
            <span>{{ sold_product.sold_date }}</span>
            <span><img src="{{ sold_product.icon }}"></span>
            <span>{{ sold_product.title }}</span>
            <span>{{ sold_product.price }}円</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    </div>
  </div>
</div>
