{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/product_items.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <p>{{rated_user_name}}さんの評価をしましょう！</p>
    <form method="POST" action="{% url 'rating:post_rating' product_pk %}" enctype="multipart/form-data" class="post-form">{% csrf_token %}
      {% bootstrap_form form layout='virtical' %}
      <div class="form-group column">  
        <button id="submit" type="submit" class="btn submit_button">送信</button>
      </div>
    </form>
  </div>
{% endblock %}
